:root {
    --darkbg: #1F2937;
    --lightbg: #E5E7EB;
    --bluebg: #3882F6;
    --text-white: #F9FAF8;
    --text-white-secondary: #E5E7EB;
}

html {
    font-family: "Roboto", "sans-serif";
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#section-1, header, footer {
    background-color: var(--darkbg);
}

#section-3 {
    background-color: var(--lightbg);
}

header, footer {
    display: flex;
    color: var(--text-white);
}

header {
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    height: 32px;
}

#header-logo {
    font-size: 24px;
    
}

footer {
    justify-content: center;
    align-items: center;
    height: 62px;
}

footer > p {
    text-align: center;
}

ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

.content {
    display: flex;
    flex-direction: column;
}

.section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-section {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 800px;
    height: 250px;
}

.panel-section div {
    flex: 1;
    width: 400px;
}

.panel-section h1 {
    color: var(--text-white);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

.panel-section p {
    color: var(--text-white-secondary);
    font-size: 18px;
    margin-top: 0;
}

.img-placeholder {
    width: 250px;
    height: 250px;
    background-color: lightgrey;
}

.card-section {
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card-section h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 32px;
}

.card {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.card-img {
    height: 150px;
    width: 150px;
    border: 4px solid var(--bluebg);
    border-radius: 10px;
}

.card p {
    font-size: 10px;
    text-align: center;
}

.text-section {
    flex-direction: column;
}

.text-section p {
    width: 65%;
    font-size: 24px;
    font-style: italic;
    font-weight: 200;
}

.text-section h3 {
    align-self:flex-end;
    margin-right: 264px;
    margin-top: -24px;
}

.window {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;

    width: 850px;
    height: 125px;

    background-color: var(--bluebg);
    color: var(--text-white);
    border-radius: 8px;
}

.window-text {
    width: 75%;
}

.window-text h3, .window-text p {
    margin: 0 auto;
}

.window button {
    height: 32px;
}

#header-logo {
    width: 250px;
    text-align: center;
}