html {
    
}

body {
    display: flex;
    flex-direction: column;
}

div, header, footer {
    border: 1px solid black;
}



header, footer {
    display: flex;
}

header {
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    height: 32px;
}

#header-logo {
    width: 250px;
    text-align: center;
}

footer {
    justify-content: center;
    align-items: center;
    height: 62px;
}

footer > p {
    text-align: center;
}

ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

.content {
    display: flex;
    flex-direction: column;
}

.section {
    height: 250px;
}